.hauttriangle1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hauttriangle2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hauttriangle3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hauttriangle4 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hauttriangle5 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hauttriangle6 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.milieutriangle img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bastriangle1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bastriangle2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bastriangle3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bastriangle4 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bastriangle5 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bastriangle6 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
