.hauttriangle1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hauttriangle2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hauttriangle3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
